ul{
    background-color: #EDF3F9;
    text-align: center;
}
.nav{
    background-color: #EDF3F9;
    text-align: center;
}
.nav-link {
    color: #002554;
    margin-top: 2rem;
    padding: 0.4rem;

    font-weight: bold;

}

.nav-link:hover {
    background-color: #002554;
    color: #EDF3F9;
    padding: 0.4rem;

}

.form-text{
    color: #53565A;
}
.logo {
    width: 12rem;
    height: 6rem;
    cursor: pointer;
    margin-left: 1rem;
}


.profile_logo {
    justify-content: end;
    width: 3rem;
    height: 3rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

.navbar-nav .nav-link.active {
    background-color:#002554 ;
    color: #EDF3F9;
    padding: 0.4rem;
}


/* table styling */
.table-responsive {
    max-height:15rem;
}
.table_container {
    justify-content: center;
    
}

table {
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #506B67;
    float: left;
}
a:hover{
    color: #809E9B;
}
a:not([href]):not([class]) {
    color: #506B67;
    text-decoration: none;
}
a:not([href]):not([class]):hover{
    color: #809E9B;
    cursor: pointer;
}
td,th {
    padding: 5px 20px;
    color: #002554;
    text-align: center;
}



/* form styling */
.send_form{
padding-left: 8rem;
padding-right: 5rem;
}
.sub_btn{
    background-color:#EDF3F9 ;
    color: #002554;
    font-weight: 500;

}
.sub_btn:hover{
    background-color:#002554 ;
    color: #EDF3F9;
}
.form-control{
    border: 0px;
    color: #002554;
    box-shadow: none;
    border: 2px solid #809E9B;
    outline: none;
  }
.form-control:focus{
    outline: none;
    box-shadow: none;
    color: #002554;
    border: 2px solid #506B67;
}
.form-control::placeholder{
    color: #002554;
}
